version: "3.4"
services:
  alephium:
    image: "alephium.alephium.dnp.dappnode.eth:0.1.0"
    build:
      context: alephium
      args:
        UPSTREAM_VERSION: v2.2.2
    restart: unless-stopped
    ports:
      - "9973:9973/tcp"
      - "9973:9973/udp"
    security_opt:
      - "no-new-privileges:true"
    volumes:
      - "alephium-data:/alephium-home/.alephium"
      - "alephium-wallets:/alephium-home/.alephium-wallets"
    environment:
      - ALEPHIUM_FORCE_RELOAD_SNAPSHOT=0
      - INITIALIZING_FROM_SNAPSHOT=disabled
      - EXTRA_OPTS=
  postgres:
    image: "postgres.alephium.dnp.dappnode.eth:0.1.0"
    build:
      context: postgres
    user: postgres
    environment:
      - EXPLORER_ENABLED=disabled
    restart: unless-stopped
    volumes:
      - "postgres_data:/var/lib/postgresql/14/main"
  explorer-backend:
    image: "explorer-backend.alephium.dnp.dappnode.eth:0.1.0"
    build:
      context: explorer-backend
    restart: unless-stopped
    security_opt:
      - "no-new-privileges:true"
    environment:
      - EXPLORER_HOST=0.0.0.0
      - EXPLORER_PORT=9090
      - BLOCKFLOW_HOST=alephium.alephium.dappnode
      - BLOCKFLOW_PORT=12973
      - DB_NAME=alephium-explorer
      - DB_HOST=postgres.alephium.dappnode
      - DB_PORT=5432
      - DB_USER=alephium
      - DB_PASSWORD=alephium
      - EXPLORER_READONLY=false
      - EXPLORER_ENABLED=disabled
  explorer-frontend:
    image: "explorer-frontend.alephium.dnp.dappnode.eth:0.1.0"
    build:
      context: explorer-frontend
    restart: unless-stopped
    security_opt:
      - "no-new-privileges:true"
    environment:
      - EXPLORER_ENABLED=disabled
      - "VITE_BACKEND_URL=http://explorer-backend.alephium.dappnode:9090"
      - VITE_NETWORK_TYPE=mainnet
volumes:
  alephium-data: {}
  alephium-wallets: {}
  prometheus_data: {}
  grafana_data: {}
  postgres_data: {}
